{{- define "feathericon" -}}
  {{- $featherURL := "https://unpkg.com/feather-icons@4.29.2/dist/feather-sprite.svg" -}}
  {{ if not (.UseCDN | default false) -}}
    {{- $featherURL = (resources.Get "svg/feather-sprite.svg" | fingerprint).RelPermalink -}}
  {{- end -}}
<svg class="feather">
   <use href="{{ printf "%s#%s" $featherURL .Icon }}" />
</svg>
{{- end -}}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    
    {{ if .Site.Params.useCDN }}
    <link rel="stylesheet" href="{{ "vendor/feather.css" | absURL }}">
    {{ end }}
    
    {{ if or .Params.math .Site.Params.math }}
    <!-- KaTeX -->
    <link rel="stylesheet" href="{{ "vendor/katex.min.css" | absURL }}">
    <script defer src="{{ "vendor/katex.min.js" | absURL }}"></script>
    <script defer src="{{ "vendor/auto-render.min.js" | absURL }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
                delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "$", right: "$", display: false}
                ]
            });
        });
    </script>
    {{ end }}
</head>

<header>
	<div class="main">
		<a href="{{ absLangURL "/" }}">{{ .Site.Title }}</a>
	</div>
	<nav>
		{{ range .Site.Menus.main }}
		<a href="{{ .URL }}">{{ .Name }}</a>
		{{ end }}
		{{ if eq .Site.Params.mode "toggle" -}}
	| <span id="dark-mode-toggle" onclick="toggleTheme()">{{template "feathericon" (dict "UseCDN" .Site.Params.useCDN "Icon" "sun") }}</span>
		<script src="{{ absURL "js/themetoggle.js" }}"></script>
		{{ end }}
	</nav>
</header>
